.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.description {
  display: inherit;
  justify-content: center;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}
.menulink {
  padding: 16px;
}
.code {
  font-weight: 700;
  font-family: var(--font-mono);
}
.pageContainer {
  max-width: 1280px;
  margin: 0 auto;
  padding-bottom: 50px;
}
.singlePage {
  max-width: 1280px;
  margin: 80px auto;
  padding: 20px;
}
.filterCont {
  background: #ffffff;
  padding: 16px;
}
.mainhead {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #ffffff;
  margin-bottom: 5px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 99;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}
.search {
  padding: 0px 16px;
}
.mainBody {
  margin-top: 90px;
}
.productcard {
  padding: 10px;
}
.pagination {
  position: relative;
  z-index: 99;
  background: #ffffff;
  padding: 8px;
  margin-top: 30px;
}
.nodata {
  padding: 60px 16px;
  text-align: center;
}
.countBar {
  display: flex;
  padding: 16px 16px;
  justify-content: space-between;
}
.wraptext {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}
.cardCont {
  cursor: pointer;
}
.imageContainer {
  padding: 10px;
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
.details {
  padding: 16px;
}
.details h5 {
  margin: 0 0 8px 0;
  font-size: 18px;
  font-weight: 600;
}
.details .price {
  font-weight: bold;
  margin: 0 0 8px 0;
  font-size: 18px;
}
.details p {
  margin: 0;
  color: #555;
}
.flexCenter {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
